<div class="page-header">
    <h1>Trial Information</h1>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Welcome!
          </h3>
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt nisi non tristique suscipit. Integer at nisi sit amet ipsum hendrerit ultricies dictum gravida purus. Nunc id malesuada nisi. Sed venenatis venenatis ligula, in sollicitudin nulla euismod non. Curabitur mollis est eget ipsum viverra suscipit. Praesent leo nibh, ornare vitae laoreet sit amet, euismod non magna. Mauris bibendum viverra velit, in commodo ante. Nullam ut tortor lorem. Suspendisse ultrices sit amet felis a euismod. Maecenas pretium id ex ut ultricies.</p>

            <p>Suspendisse ac pretium dui. Praesent sed egestas arcu. Suspendisse convallis, nisl et laoreet vulputate, mauris nibh semper orci, eget ornare tortor lectus sed dolor. Mauris non augue posuere, auctor ligula vel, vestibulum libero. Nam velit quam, porta porttitor mattis nec, pulvinar ut turpis. Suspendisse et aliquet ligula, et condimentum justo. Etiam feugiat tristique justo vel pretium. Donec quam sem, dictum non justo a, consectetur elementum mauris. Nullam posuere, nisl rutrum luctus sollicitudin, ligula erat tempor nibh, ac pretium lacus purus vel ante. Duis scelerisque ipsum eget quam eleifend gravida. Vestibulum mattis elementum odio sit amet faucibus. Integer sit amet interdum turpis. In laoreet leo id pretium cursus. Donec eu semper dui.</p>

            <p>Suspendisse potenti. Proin quis iaculis tortor, dictum dictum eros. Praesent lorem nibh, molestie sit amet viverra non, aliquet eget elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec consectetur vel massa sed sollicitudin. Pellentesque convallis mi at convallis rutrum. Ut sit amet neque eget mi ultricies condimentum. Aliquam consectetur porta ex sed dapibus. Aenean sed massa id velit mollis mollis. In non elit cursus, tempor lacus sit amet, euismod dui. Donec sodales hendrerit eros ac laoreet. Proin et velit eget tortor tincidunt lacinia. Etiam sit amet est turpis.</p>

            <p>Maecenas id nunc quam. Quisque commodo tellus pretium turpis tincidunt laoreet. Vivamus rhoncus nulla ut elit dignissim tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla non metus vel justo tempus tincidunt eu a risus. Aliquam erat volutpat. Nunc in augue risus. Vivamus sed sem vel libero scelerisque efficitur at a turpis. Etiam vehicula nisl quam. Praesent ut varius neque, a congue nulla. Donec a ante ac justo placerat auctor nec sed eros. Donec imperdiet, risus non euismod gravida, nisi felis aliquam sapien, convallis feugiat sapien lorem ac dui. Etiam sed interdum risus.</p>

            <p>Donec in sem mollis, tempus elit ac, facilisis augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce semper eget tellus eget congue. Cras in lacinia nulla, ultrices euismod ipsum. Nam magna augue, iaculis ut sem vitae, commodo ultricies ligula. Nullam vitae elementum augue. Phasellus euismod accumsan tortor ut vestibulum. Nam blandit vel eros a aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. In posuere tortor in sem hendrerit, at mattis lectus posuere. Morbi egestas enim vitae ligula congue, non volutpat metus vestibulum. Morbi sagittis eget sapien a consectetur.</p>
        </div>
      </div>
    </div>
</div>

<form ng-submit="trialData.trialInfoData(trailData);">
<!--     <label>Username:</label>
    <input class="form-control" type="text" name="username" placeholder="Enter username"
           ng-model="trialData.trailData.username">
    <br>

    <label>Trial:</label>
    <input class="form-control" type="number" name="trialid" placeholder="Enter trial id"
           ng-model="trialData.trailData.trialid">
    <br>

    <label>Condition:</label>
    <input class="form-control" type="text" name="condition" placeholder="Enter condition"
           ng-model="trialData.trailData.condition">
    <br>
 -->
    <button class="btn btn-primary" type="submit">Next</button>
</form>

<div class="jumbotron text-center" ng-show="trialData.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<div class="row show-hide-message" ng-show="trialData.successMsg">
    <div class="alert alert-success">
        {{trialData.successMsg}}
    </div>
</div>
<div class="row show-hide-message" ng-show="trialData.errorMsg">
    <div class="alert alert-danger">
        {{trialData.errorMsg}}
    </div>
</div>