<div class="page-header">
    <h1>Manage Admin</h1>
</div>
<div class="row" ng-controller="manageAdminCtrl">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add New Admin</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="createNewAdmin();">
                    <label>Email Id:</label>
                    <input class="form-control" type="email" name="emailId" placeholder="Enter email"
                           ng-model="adminUsername">
                    <br>
                    <button class="btn btn-success" type="submit">Add Admin</button>
                </form>

                <div class="jumbotron text-center" ng-show="loading" id="loader">
                    <span class="glyphicon glyphicon-repeat spinner"></span>

                    <p>Loading...</p>
                </div>

                <div class="row show-hide-message" ng-show="successAddMsg" id="addSuccess">
                    <div class="alert alert-success" >
                        {{successAddMsg}}
                    </div>
                </div>
                <div class="row show-hide-message" ng-show="errorAddMsg" id="addFailure">
                    <div class="alert alert-danger">
                        {{errorAddMsg}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Delete Admin</h3>
            </div>
            <div class="panel-body" ng-init="listAdmin()">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>Users</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="admin in adminList">
                        <td>{{admin.username}}</td>
                        <td><input type="button" class="btn btn-danger" value="Delete"
                                   ng-click="removeAdmin(admin.username)"></td>
                    </tr>
                    </tbody>
                </table>

                <div class="row show-hide-message" ng-show="successDeleteMsg" id="deleteSuccess">
                    <div class="alert alert-success">
                        {{successDeleteMsg}}
                    </div>
                </div>
                <div class="row show-hide-message" ng-show="failureDeleteMsg" id="deleteFailure">
                    <div class="alert alert-danger">
                        {{failureDeleteMsg}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>