<div class="page-header">
    <h1>Welcome</h1>
</div>

<div class="row show-hide-message" ng-show="signIn.warningMsg">
    <div class="alert alert-warning">
        {{signIn.warningMsg}}
    </div>
</div>

<form ng-submit="signIn.signInAdmin(signInData);">
    <label>Username:</label>
    <input class="form-control" type="text" name="username" placeholder="Enter username"
           ng-model="signIn.signInData.username">
    <br>

    <br>
    <button class="btn btn-primary" type="submit">Signin with Gmail</button>
</form>



<div class="jumbotron text-center" ng-show="signIn.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>
<br>
<div class="row show-hide-message" ng-show="signIn.errorMsg">
    <div class="alert alert-danger">
        {{signIn.errorMsg}}
    </div>
</div>

<br>
