<!-- <div id = "rTimeoutmodal" class = "modal">
  <div class = "modal-content">
    <span class="close"></span>
    <p>Collect Resources</p>
  </div>
</div>

 -->

<!-- <div class="clock" style="margin:2em;"><p>asdjfk</p></div> -->
<div class="message"></div>
<div class="container-fluid">


    <!-- Collect Resources Modal -->
    <div class="modal fade" id="rTimeoutmodal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Collect Resources</h4>
                </div>
                <div id="modalbody" class="modal-body">
                    <p>Timeup. Collect Resources from Room</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Error Modal -->
    <div class="modal fade" id="errorModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div id="errorModalbody" class="modal-body">
                    <p>Insufficent Resources</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row well">
        <div class="col-md-4">
            <h3 class="text-left"><b>Time Left : {{counter}}</b></h3>
        </div>
        <div class="col-md-8">
            <h3><strong>Hospital Management Game</strong></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Your Waiting room
                    </h3>
                </div>
                <div class="panel-body" id="P1">
                    <strong> Patient A: <span id="patientA"></span><br/> </strong>
                    <strong> Patient B: <span id="patientB"></span><br/> </strong>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Your Available Resources
                    </h3>
                </div>
                <div class="panel-body" id="S1">
                    <div class = "col-sm-6" >
                        <strong>Doctors  : <span id="totalDoctors" class="sidebar">{{gameData.gameState.numberOfDoctors}} </span> <br/> </strong>
                        <strong>Nurses   : <span id="totalNurses" class="sidebar"> {{gameData.gameState.numberOfNurses}} </span> <br/> </strong>
                        <strong>Surgeons : <span id="totalSurgeons" class="sidebar"> {{gameData.gameState.numberOfSurgeons}} </span> <br/></strong>
                    </div>
                    <div class="col-sm-6" id = "scorePanel">
                        <strong>
                            score
                            <div id = "scoreDiv">
                                <div id ="scoreSpan">
                                    <span id = "playerScore">{{gameData.gameState.score}}</span>
                                </div>
                           </div>
                        </strong>
                    </div>   
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Neighbor's Waiting room
                    </h3>
                </div>
                <div class="panel-body">
                    <strong><p> Patient A: </p></strong>
                    <strong><p> Patient B: </p></strong>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Neighbor's Available Resources
                    </h3>
                </div>
                <div class="panel-body" id="S2">
                    <div class = "col-sm-6" >
                        <strong>Doctors :<span id="nbrDoctors" class="sidebar">{{gameData.gameState.otherNumberOfDoctors}} </span> <br/> </strong>
                        <strong>Nurses :<span id="nbrNurses" class="sidebar">{{gameData.gameState.otherNumberOfNurses}} </span> <br/> </strong>
                        <strong>Surgeons :<span id="nbrSurgeons" class="sidebar">{{gameData.gameState.otherNumberOfSurgeons}} </span> <br/> </strong>
                    </div>

                    <div class="col-sm-6" id = "scorePanel">
                        <strong>
                            score
                            <div id = "scoreDiv">
                                <div id ="scoreSpan">
                                    <span id = "agentScore">{{gameData.gameState.otherScore}}</span>
                                </div>
                           </div>
                        </strong>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <div id="div1" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Room 1
                            </h3>
                        </div>
                        <div class="panel-body fixed-panel center" id="R1">
                            <span id="assignedPatient">VACANT</span> <br/>
                            <span id="nDoctors">0</span> Doctors <br/>
                            <span id="nNurses">0</span> Nurses <br/>
                            <span id="nSurgeons">0</span> Surgeons <br/>
                        </div>
                    </div>
                    <div id="div2" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Room 2
                            </h3>
                        </div>
                        <div class="panel-body fixed-panel center" id="R2">
                            <span id="assignedPatient">VACANT</span> <br/>
                            <span id="nDoctors">0</span> Doctors <br/>
                            <span id="nNurses">0</span> Nurses <br/>
                            <span id="nSurgeons">0</span> Surgeons <br/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="div3" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Room 3
                            </h3>
                        </div>
                        <div class="panel-body fixed-panel center" id="R3">
                            <span id="assignedPatient">VACANT</span> <br/>
                            <span id="nDoctors">0</span> Doctors <br/>
                            <span id="nNurses">0</span> Nurses <br/>
                            <span id="nSurgeons">0</span> Surgeons <br/>
                        </div>
                    </div>
                    <div id="div4" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Room 4
                            </h3>
                        </div>
                        <div class="panel-body fixed-panel center" id="R4">
                            <span id="assignedPatient">VACANT</span> <br/>
                            <span id="nDoctors">0</span> Doctors <br/>
                            <span id="nNurses">0</span> Nurses <br/>
                            <span id="nSurgeons">0</span> Surgeons <br/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="div5" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Room 5
                            </h3>
                        </div>
                        <div class="panel-body fixed-panel center" id="R5">
                            <span id="assignedPatient">VACANT</span> <br/>
                            <span id="nDoctors">0</span> Doctors <br/>
                            <span id="nNurses">0</span> Nurses <br/>
                            <span id="nSurgeons">0</span> Surgeons <br/>

                        </div>
                    </div>
                    <div id="div6" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Room 6
                            </h3>
                        </div>
                        <div class="panel-body fixed-panel center" id="R6">
                            <span id="assignedPatient">VACANT</span> <br/>
                            <span id="nDoctors">0</span> Doctors <br/>
                            <span id="nNurses">0</span> Nurses <br/>
                            <span id="nSurgeons">0</span> Surgeons <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="btn-group btn-group-justified" id="prdiv">
                        <a href="#" class="btn btn-primary" id="patients">Assign Patients</a>
                        <a href="#" class="btn btn-primary" id="resources">Assign Resources</a>
                        <a href="#" class="btn btn-primary" id="requestResources">Request Resources</a>
                    </div>
                    <div id="patientsgroup" style="display: none;">
                        <br/>
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-primary" id="btnA">Patient A</a>
                            <a href="#" class="btn btn-primary" id="btnB">Patient B</a>
                        </div>
                        <!-- <button class="btn btn-primary" id="btnA" type="submit" >Patient A</button>
                        <button class="btn btn-primary" id="btnB" type="submit" >Patient B</button> -->
                    </div>

                    <div id="resourcesGroup" style="display: none;">
                        <br/>
                        <div class="btn-group btn-group-justified">
                            <a href='#' class="btn btn-primary" id="btnDoctor">Doctor</a>
                            <a href="#" class="btn btn-primary" id="btnNurse">Nurse</a>
                            <a href="#" class="btn btn-primary" id="btnSurgeon">Surgeon</a>
                        </div>
                        <!-- button class="btn btn-primary" id="btnDoctor" type="submit" >Doctor</button>
                        <button class="btn btn-primary" id="btnNurse" type="submit" >Nurse</button>
                        <button class="btn btn-primary" id="btnSurgeon" type="submit" >Surgeon</button> -->

                    </div>

                    <!-- Request Resources Button Group -->
                    <div id="requestGroup" style="display: none;">
                        <br/>
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-primary" id="btnRequestDoctor">Doctor</a>
                            <a href="#" class="btn btn-primary" id="btnRequestNurse">Nurse</a>
                            <a href="#" class="btn btn-primary" id="btnRequestSurgeon">Surgeon</a>
                        </div>
                    </div>

                    <div id ="notify"> </div>
                    <div id="successMsg" class="row show-hide-message padded" ng-show="gameData.successMsg">
                        <div class="alert alert-success">
                            {{gameData.successMsg}}
                        </div>
                    </div>

                    <div id="errorMsg" class="row show-hide-message padded" ng-show="gameData.errorMsg" >
                        <div class="alert alert-danger">
                            {{gameData.errorMsg}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><strong>Hi {{gameData.username}}! Welcome to Hospital Management Game.</strong></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="z-depth-2 ">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Room 1</h3>
          </div>
        <div class="panel-body">
           Vacant
        </div> 
        </div>
      </div>
    </div> 
    <div class="col-sm-3">
      <div class="z-depth-2 ">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Room 2</h3>
          </div>
        <div class="panel-body">
            Vacant
        </div> 
        </div>
      </div>
    </div> 
    <div class="col-sm-3">
      <div class="z-depth-2 ">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Room 3</h3>
          </div>
        <div class="panel-body">
            Vacant
        </div> 
        </div>
      </div>
    </div> 
</div>
<div class="row">
    <div class="col-sm-3">
      <div class="z-depth-2 ">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Room 4</h3>
          </div>
        <div class="panel-body">
            Vacant
        </div> 
        </div>
      </div>
    </div> 
   <div class="col-sm-3">
      <div class="z-depth-2 ">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Room 5</h3>
          </div>
        <div class="panel-body">
            Vacant
        </div> 
        </div>
      </div>
    </div> 
   <div class="col-sm-3">
      <div class="z-depth-2 ">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Room 6</h3>
          </div>
        <div class="panel-body">
            Vacant
        </div> 
        </div>
      </div>
    </div>  
</div>
</div> -->
<!-- 
</body>
</html>
