
<!-- <div class="clock" style="margin:2em;"><p>asdjfk</p></div> -->
<div class="message"></div>

<div class="container-fluid" id="step8">

    <!-- 1st Step-->
    <div class="row timeKeeper" id="step1">
        <div class="col-xs-4">
            <div class="text-left"><b>Time Left - 0:00</b></div>
        </div>
        <div class="col-xs-8">
            <div><strong>Hospital Management Game</strong></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 resourcesCol">

            <!-- 2nd Step-->
            <div class="panel panel-primary waitingPanel" id="step2">
                <div class="panel-heading">
                    <h3 class="panel-title hidden-xs">
                        Your Waiting room
                    </h3>
                    <h3 class="panel-title mobile-panel-title visible-xs">
                        Your Waiting room
                    </h3>
                </div>
                <div class="panel-body P1" id="P1">
                    <strong> Patient A: <span id="patientA"></span><br/> </strong>
                    <strong> Patient B: <span id="patientB"></span><br/> </strong>
                </div>
            </div>

            <div class="panel panel-primary resourcesPanel" id="step6">
                <div class="panel-heading">
                    <h3 class="panel-title hidden-xs">
                        Your Available Resources
                    </h3>
                    <h3 class="panel-title mobile-panel-title visible-xs">
                        Your Available Resources
                    </h3>
                </div>
                <div class="panel-body S1" id="S1">
                    <div class = "col-xs-6" >
                        <strong>Doctors  : <span id="totalDoctors" class="sidebar">3</span> <br/> </strong>
                        <strong>Nurses   : <span id="totalNurses" class="sidebar"> 3</span> <br/> </strong>
                        <strong>Surgeons : <span id="totalSurgeons" class="sidebar"> 3</span> <br/></strong>
                    </div>
                    <div class="col-xs-6">
                        <div class="text-center">
                            <strong>
                                <span class="text-center">Score</span>
                                <div class="square center v-align" id="playerScoreDiv">
                                    <span id="playerScore">3</span>
                                </div>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 4th Step-->
            <div class="panel panel-primary neighWaitingPanel" id="step4">
                <div class="panel-heading">
                    <h3 class="panel-title hidden-xs">
                        Neighbor's Waiting room
                    </h3>
                    <h3 class="panel-title mobile-panel-title visible-xs">
                        Neighbor's Waiting room
                    </h3>
                </div>
                <div class="panel-body P2" id="P2">
                    <div class = "col-xs-6" >
                        <strong>
                            <p class="text-center"> Patient A </p>
                        </strong>
                        <span id="otherPatientA"><div class="square center bg-green"></div></span><br/>
                    </div>
                    <div class = "col-xs-6" >
                        <strong>
                            <p class="text-center"> Patient B </p>
                        </strong>
                        <span id="otherPatientB"><div class="square center bg-green"></div></span><br/>
                    </div>
                </div>
            </div>



            
            <div class="panel panel-primary neighResourcesPanel" id="step7">
                <div class="panel-heading">
                    <h3 class="panel-title hidden-xs">
                        Neighbor's Available Resources
                    </h3>
                    <h3 class="panel-title mobile-panel-title visible-xs">
                        Neighbor's Available Resources
                    </h3>
                </div>
                <div class="panel-body S2" id="S2">
                    <div class = "col-xs-6" >
                        <strong>Doctors :<span id="nbrDoctors" class="sidebar">3 </span> <br/> </strong>
                        <strong>Nurses :<span id="nbrNurses" class="sidebar">2 </span> <br/> </strong>
                        <strong>Surgeons :<span id="nbrSurgeons" class="sidebar">3</span> <br/> </strong>
                    </div>
                    <div class="col-xs-6">
                        <div class="text-center">
                            <strong>
                                <span class="text-center">Score</span>
                                <div class="square center v-align" class="agentScoreDiv">
                                    <span id="agentScore">4</span>
                                </div>
                            </strong>
                        </div>
                    </div>
                    <!--<div class="col-xs-6" id = "scorePanel">-->
                        <!--<strong>-->
                            <!--score-->
                            <!--<div id = "scoreDiv">-->
                                <!--<div id ="scoreSpan">-->
                                    <!--<span id = "agentScore">{{gameData.gameState.otherScore}}</span>-->
                                <!--</div>-->
                           <!--</div>-->
                        <!--</strong>-->
                    <!--</div>    -->
                </div>
            </div>
        </div>




        <div class="col-xs-8" >
            <div class="row roomsRow" id="step5" data-intro="Rooms marked red: Cannnot be assigned anything. Green: can be assigned">
                <div class="col-xs-4 room1Col" id="room1Col">
                    <div id="div1" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title hidden-xs">
                                Room 1
                            </h3>
                            <h3 class="panel-title mobile-panel-title visible-xs">
                                Room 1
                            </h3>
                        </div>
                        <div class="panel-body fixed-panel center" id="R1">
                            <span id="assignedPatient">VACANT</span> <br/>
                            <span id="nDoctors">0</span> Doctors <br/>
                            <span id="nNurses">0</span> Nurses <br/>
                            <span id="nSurgeons">0</span> Surgeons <br/>
                            <span id="hint"></span><br/>
                        </div>
                    </div>
                    <div id="div2" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title hidden-xs">
                                Room 2
                            </h3>
                            <h3 class="panel-title mobile-panel-title visible-xs">
                                Room 2
                            </h3>
                        </div>
                        <div class="panel-body fixed-panel center" id="R2">
                            <span id="assignedPatient">VACANT</span> <br/>
                            <span id="nDoctors">0</span> Doctors <br/>
                            <span id="nNurses">0</span> Nurses <br/>
                            <span id="nSurgeons">0</span> Surgeons <br/>
                            <span id="hint"></span><br/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 room2Col" id="room2Col">
                    <div id="div3" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title hidden-xs">
                                Room 3
                            </h3>
                            <h3 class="panel-title mobile-panel-title visible-xs">
                                Room 3
                            </h3>
                        </div>
                        <div class="panel-body fixed-panel center" id="R3">
                            <span id="assignedPatient">VACANT</span> <br/>
                            <span id="nDoctors">0</span> Doctors <br/>
                            <span id="nNurses">0</span> Nurses <br/>
                            <span id="nSurgeons">0</span> Surgeons <br/>
                            <span id="hint"></span><br/>
                        </div>
                    </div>
                    <div id="div4" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title hidden-xs">
                                Room 4
                            </h3>
                            <h3 class="panel-title mobile-panel-title visible-xs">
                                Room 4
                            </h3>
                        </div>
                        <div class="panel-body fixed-panel center" id="R4">
                            <span id="assignedPatient">VACANT</span> <br/>
                            <span id="nDoctors">0</span> Doctors <br/>
                            <span id="nNurses">0</span> Nurses <br/>
                            <span id="nSurgeons">0</span> Surgeons <br/>
                            <span id="hint"></span><br/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 room3Col" id="room3Col">
                    <div id="div5" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title hidden-xs">
                                Room 5
                            </h3>
                            <h3 class="panel-title mobile-panel-title visible-xs">
                                Room 5
                            </h3>
                        </div>
                        <div class="panel-body fixed-panel center" id="R5">
                            <span id="assignedPatient">VACANT</span> <br/>
                            <span id="nDoctors">0</span> Doctors <br/>
                            <span id="nNurses">0</span> Nurses <br/>
                            <span id="nSurgeons">0</span> Surgeons <br/>
                            <span id="hint"></span><br/>
                        </div>
                    </div>
                    <div id="div6" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title hidden-xs">
                                Room 6
                            </h3>
                            <h3 class="panel-title mobile-panel-title visible-xs">
                                Room 6
                            </h3>
                        </div>
                        <div class="panel-body fixed-panel center" id="R6">
                            <span id="assignedPatient">VACANT</span> <br/>
                            <span id="nDoctors">0</span> Doctors <br/>
                            <span id="nNurses">0</span> Nurses <br/>
                            <span id="nSurgeons">0</span> Surgeons <br/>
                            <span id="hint"></span><br/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 playButtonsDiv">
                    <br class="hidden-xs">
                    <div class="btn-group btn-group-justified prdiv" id="step3">
                        <a href="#" class="btn btn-primary patients" id="patients">Assign Patients</a>
                        <a href="#" class="btn btn-primary resources" id="resources">Assign Resources</a>
                        <a href="#" class="btn btn-primary shareResources" id="shareResources">Share Resources</a>
                    </div>
                    <div id="patientsgroup" style="display: none;">
                        <br class="hidden-xs">
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-primary btnA" id="btnA">Patient A</a>
                            <a href="#" class="btn btn-primary btnB" id="btnB">Patient B</a>
                        </div>
                        <!-- <button class="btn btn-primary" id="btnA" type="submit" >Patient A</button>
                        <button class="btn btn-primary" id="btnB" type="submit" >Patient B</button> -->
                    </div>

                    <div id="resourcesGroup" style="display: none;">
                        <br class="hidden-xs">
                        <div class="btn-group btn-group-justified">
                            <a href='#' class="btn btn-primary btnDoctor" id="btnDoctor">Doctor</a>
                            <a href="#" class="btn btn-primary btnNurse" id="btnNurse">Nurse</a>
                            <a href="#" class="btn btn-primary btnSurgeon" id="btnSurgeon">Surgeon</a>
                        </div>
                        <!-- button class="btn btn-primary" id="btnDoctor" type="submit" >Doctor</button>
                        <button class="btn btn-primary" id="btnNurse" type="submit" >Nurse</button>
                        <button class="btn btn-primary" id="btnSurgeon" type="submit" >Surgeon</button> -->

                    </div>

                    <!-- Request Resources Button Group -->
                    <div id="requestGroup" style="display: none;">
                        <br class="hidden-xs">
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-primary btnShareDoctor" id="btnShareDoctor">Doctor</a>
                            <a href="#" class="btn btn-primary btnShareNurse" id="btnShareNurse">Nurse</a>
                            <a href="#" class="btn btn-primary btnShareSurgeon" id="btnShareSurgeon">Surgeon</a>
                        </div>
                    </div>

                    <div id ="notify"> </div>
                    <!--<div id="successMsg" class="row show-hide-message padded">-->
                        <!--<div class="alert alert-success">-->
                            <!--Success-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div id="errorMsg" class="row show-hide-message padded">-->
                        <!--<div class="alert alert-danger">-->
                           <!--Error-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>


        </div>


    </div>

    <!-- Collect Resources Modal -->
    <div class="modal fade" id="rTimeoutmodal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" >&times;</button>
                    <h4 class="modal-title">Collect Resources</h4>
                </div>
                <div id="modalbody" class="modal-body">
                    <p>Timeup. Collect Resources from Room</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
  
   <!-- Game Over modal -->
    <div class="modal fade" id="gameFinishedModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Done</h4>
                </div>
                <div id="modalbody" class="modal-body">
                    <p>Congratulations. You have successfully finsihed the game. You saved 4 patients </p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="gFMclose" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



    <!-- Notification Modal -->
    <div class="modal fade" id="notifyModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="notifyModalTitle" class="modal-title">Title</h4>
                </div>
                <div id="notifyModalbody" class="modal-body">
                    <p>Message</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
