<html>
<head>
  <meta name="google-signin-client_id" content="713815641075-vge8ouravfnq07fko03patep79djuu0o.apps.googleusercontent.com">
  <style type="text/css">
    #logout
    {
    float:right;
    margin-right:20px;
    height:5px;
    visibility: hidden;
    }
  
    #my-signin2 
    {
         'position':'absolute',
          'top':'50%',
          'left':'50%'      
    }
  </style>




</head>
<body>
  
  <h1>Welcome to Human Agent Interaction- Machine Learning</h1> 
  
  <script type="text/javascript">
    
    function logOut(){
     var auth2 = gapi.auth2.getAuthInstance();
     auth2.signOut().then(function () {
     console.log('User signed out.');
     document.getElementById("logout").style.visibility = "hidden";
     //document.getElementById("sign-in-success-message").style.visibility = "hidden";
             


    });
     auth2.disconnect();
    }  

  </script>

  <a href="#" onclick="logOut();" id="logout">Log Out</a>

  
  <div id="my-signin2"></div>

  
  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
      console.log('User Email:'+googleUser.getBasicProfile().getEmail());
      var email=googleUser.getBasicProfile().getEmail();
      var request= new XMLHttpRequest();
      var url="http://localhost:8080/api/adminLogin";
      document.getElementById("logout").style.visibility = "visible";
      var request=new XMLHttpRequest();
      request.open("POST",url,false);
      request.setRequestHeader("Content-type","application/json");
      var data=JSON.stringify({"email":email});
      request.send(data);
      var adminExists=request.responseText;
      var message;
      if(adminExists=='true'){
        message="Admin Valid";
      } 

      else{
        message="Admin Invalid";
        logOut();
      }
      document.getElementById("sign-in-success-message").innerHTML=message; 
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 340,
        'height': 50, 
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<br>

<br>

<div id="sign-in-success-message">
  
</div>

</body>
</html>